name: core_card_io
description: CardIO plugin for flutter.
version: 1.0.0
author: Harry Bui <harrybui2804@gmail.com>
homepage: https://github.com/harrybui2804
repository: https://github.com/harrybui2804/core_card_io.git

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    androidPackage: core.cardio.core_card_io
    pluginClass: CoreCardIoPlugin